.footer{
    width: 100%;
    margin-top: 3%;
    color: gray;
    height: 100px;
}

.info-footer{
    width: 100%;
}

.row{
    margin-left: 5%;
    margin-right: 5%;
}

.col{
    text-align: center;
}