.contenedor-principal{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
}

.imagen{
    height: 250px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.content-1{
    text-align: center;
}

.content{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width:600px) {
    .imagen{
        height: auto;
        text-align: center;
    }
}